{% extends "layout.html.twig" %}

{% block titre %}

	<title>Genre</title>
	Editer un genre
{% endblock %}

{% block corps %}
    

    {{ include('genre/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    

    {{ include('genre/_delete_form.html.twig') }}
	
{% endblock %}

{% block pied %}

	<a href="{{ path('genre_index') }}">Retour à la liste</a>
	
{% endblock %}