{% extends "layout.html.twig" %}

{% block titre %}

	<title>New Genre</title>
	Creér un genre
{% endblock %}

{% block corps %}
    

    {{ include('genre/_form.html.twig') }}

    
{% endblock %}
{% block pied %}

	<a href="{{ path('genre_index') }}">Retour à la liste</a>
	
{% endblock %}