{% extends "layout.html.twig" %}

{% block titre %}

	<title> Cineland </title>
	Cineland
	
{% endblock %}

{% block corps %}

	<h2> Ici se trouvera le corps de l'accueil </h2>
	
{% endblock %}

{% block pied %}

	
	<a href="{{ path('cineland_menu') }}">Menu des actions</a>
	
{% endblock %}