{% extends "layout.html.twig" %}

{% block titre %}
	<title>Films</title>
	Films sortis avant le {{ date|date('d/m/Y') }}
{% endblock %}
{% block corps %}
	{{ result }}
{% endblock %}
{% block pied %}

	<a href="{{ path('cineland_accueil') }}">Retour à l'accueil</a> | 
	<a href="{{ path('cineland_menu') }}">Menu des actions</a>
	
{% endblock %}