<!DOCTYPE html>
	<html>
		<head>
			<h1 ALIGN=Center>
				{% block titre %}
				{% endblock %}
			</h1>
		</head>
		<body>
			<div id="corps" >
				{% block corps %}
				{% endblock %}
			</div>
			<hr/>
			<div id="pied" >
				{% block pied %}
				{% endblock %}
			</div>
		</body>
</html>