{% extends "layout.html.twig" %}

{% block titre %}

	<title>Acteur</title>
	Editer une Acteur trice
{% endblock %}	

{% block corps %}
    

    {{ include('acteur/_form.html.twig', {'button_label': 'Mettre à jour'}) }}



    {{ include('acteur/_delete_form.html.twig') }}
	
{% endblock %}

{% block pied %}

    <a href="{{ path('acteur_index') }}">Retour à la liste</a>

{% endblock %}
